body{
    font-family: Poppins;
}

.weather-card{
    background-color: rgb(68, 69, 69);
    border-radius: 20px;
    color: rgb(237, 237, 237);
    display: flex;

    .left{
        flex: 2;
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
    }

    .right{
        flex: 3;
    }
}
